/* 전체 페이지 스타일 */
.posts-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
}

/* 게시물 카드 스타일 */
.post-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* 이미지 컨테이너 */
.post-image {
  margin: 0;
  width: 100%;
  background-color: #f0f0f0;
  overflow-clip-margin: content-box;
  height: auto;
  object-fit: cover;
}

.post-image img {
  display: block;
  overflow-clip-margin: content-box;
  width: 100%;
  height: auto;
}

.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px; /* 고정 높이 설정 */
  font-size: 14px;
  color: #888;
}

/* 좋아요 버튼 */
.active {
  color: red;
}
 
.post-card > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px; /* 이모티콘과 숫자 사이 간격 추가 */
  padding: 0 0  10 0;
  font-size: 16px; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 굵기 추가 */
  cursor: pointer;
  color: #333;
  border-top: 1px solid #eee;
  background-color: #fdfdfd;
  transition: color 0.3s ease;
}

.post-card > div:nth-child(2):hover {
  color: #ff4d4d;
  font-weight: bold; /* hover 시에도 굵기 유지 */
}


/* 게시물 내용 */
.post-content {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  word-break: break-word;
  border-top: 1px solid #eee;
  background-color: #fcfcfc;
}

/* 로딩 및 메시지 스타일 */
.loading, .no-more {
  text-align: center;
  font-size: 14px;
  color: #888;
  padding: 10px 0;
}

.post-header {
  display: flex;
  align-items: center;
  margin: 10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}
